CREATE VIEW sogo.users (c_uid, c_name, c_password, c_cn, mail, domain) AS SELECT email, username, password, username, email, domain FROM vmail.virtual_users;

GRANT ALL ON sogo.* TO sogo@localhost IDENTIFIED BY '{{ sogo_db_password }}';

GRANT ALL ON vmail.virtual_users TO sogo@localhost;