CREATE TABLE `virtual_domains` (
  `id` int(11) NOT NULL auto_increment,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_users` (
  `id` int(11) NOT NULL auto_increment,
  `domain_id` int(11) NOT NULL,
  `username` varchar(106) NOT NULL,
  `domain` varchar(106) NOT NULL,
  `password` varchar(106) NOT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_aliases` (
  `id` int(11) NOT NULL auto_increment,
  `domain_id` int(11) NOT NULL,
  `source` varchar(100) NOT NULL,
  `destination` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `vmail`.`virtual_domains`
  (`id` ,`name`)
VALUES
  ('1', '{{ mail_domain }}');

INSERT INTO `vmail`.`virtual_users`
  (`id`, `domain_id`, `username`, `domain`, `password` , `email`)
VALUES
  ('1', '1', '{{ mail_user }}', '{{ mail_domain }}', ENCRYPT('{{ mail_password }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ mail_user }}@{{ mail_domain }}');

INSERT INTO `vmail`.`virtual_aliases`
  (`id`, `domain_id`, `source`, `destination`)
VALUES
  ('1', '1', 'postmaster@{{ mail_domain }}', '{{ mail_user }}@{{ mail_domain }}');

{% if mail_aliases is defined and mail_aliases|length > 0 %}
{% for mail_alias in mail_aliases %}
INSERT INTO `vmail`.`virtual_aliases`
  (`id`, `domain_id`, `source`, `destination`)
VALUES
  ('{{ loop.index + 1 }} ', '1', '{{ mail_alias }}@{{ mail_domain }}', '{{ mail_user }}@{{ mail_domain }}');

{% endfor %}
{% endif %}

GRANT ALL ON vmail.* TO 'vmail'@'localhost' IDENTIFIED BY '{{ vmail_db_password }}';